logo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://logo.hugo.nusz.hu" targetNamespace="http://logo.hugo.nusz.hu">
    <xsd:complexType name="PdfLogoType">
        <xsd:sequence>
		    <xsd:element name="LogoFileName" type="xsd:string" />
		    <xsd:element name="LogoData" type="xsd:base64Binary" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PdfLogo" type="PdfLogoType" />
</xsd:schema>

